﻿@page "/"
@using System.Timers
@inject NavigationManager NavigationManager
@inject MessageService message
@inject SpeachService speachservice
@code
{
    string placeHolderText = "Co Ci chodzi po głowie? ";
}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<body style="background-image: url(https://mdbootstrap.com/img/new/slides/041.jpg); background-repeat:no-repeat; background-attachment:fixed; background-size:cover">
    <div class=" card vh-100" style="background-color:transparent">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col"></div>
                <div class="col-md-auto">
                    <div><h1 style=" text-align:center; padding:40px">Gryfna wyszukiwarka</h1></div>
                    <div><h5 style=" text-align:center">@placeHolderText</h5></div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <div style=" padding:20px; text-align:center">
                        <input type="text" class="form-control" @bind="searchPattern" placeholder="Wpisz czego szukasz" />
                    </div>
                    <div style=" padding:20px; text-align:center">
                        <button type="button" @onclick="OnSpeach" class="btn btn-light btn-lg active rounded-circle"><i class="fa fa-microphone"></i> </button>
                    </div>
                    <div style=" text-align:center">
                        <button type="button" @onclick="OnSearchPlaceAction" class="btn btn-secondary btn-lg">Wyszukaj miejsce</button>
                        <button type="button" @onclick="OnSearchHintAction" class="btn btn-secondary btn-lg">Wyszukaj wskazówki</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" href="https://bestgliwice.pl/">BESTGliwice.com</a>
        </div>
    </footer>
</body>

@code
{
    private string searchPattern { get; set; }

    private void Handle(string value)
    {
        Console.WriteLine(value);
    }
    public void OnSearchPlaceAction()
    {
        NavigationManager.NavigateTo($"match/{searchPattern}");
    }
    public void OnSearchHintAction()
    {
        NavigationManager.NavigateTo($"match/{searchPattern}");
    }
    public async Task OnSearch()
    {
        await message.Loading($"searching {searchPattern}", 2);
    }
    public async Task OnSpeach()
    {
        var stringToFind = await speachservice.SpeechSingleShotRecognitionAsync();
        searchPattern = stringToFind;
    }

}

<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 20px;
    }
</style>

