﻿@page "/userform"

    <div><h3 style="font-weight: 700; text-align:left; padding-top: 20px; padding-bottom: 20px">Formularz</h3></div>

<form style="font-size: 20px; font-weight:700; color: whitesmoke">
    <div class="form-group row">
        <label for="inputUsername" class="col-sm-2 col-form-label">Nazwa użytkownika</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUsername" placeholder="Nazwa użytkownika">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputGender" class="col-sm-2 col-form-label">Płeć</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputGender">
                <option>Kobieta</option>
                <option>Mężczyzna</option>
                <option>Inne</option>
                <option>Nie chcę określać</option>
            </select>
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Ulubione tagi</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Pierogi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Posiłek dla 2 osób
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Dentysta Gliwice
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Mam powyżej 18 lat.</label>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </div>
</form>

    @code {

    }
